html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  line-height: 1.42857143;
  color: #333;
}

header {
  position: relative;
  /*top: 0;
  left: 0;*/
  z-index: 999;

  width: 100%;
  height: 70px;

  background: #eee;
  box-shadow: rgba(0, 0, 0, 0.5) 0 -20px 20px 20px;
}

header * {
  margin: 0;
}

#toggleMenu {
  position: absolute;
  background: 0;
  border: 0;
  width: 70px;
  height: 70px;
  font-size: 30px;
}

#mainLogo {
  position: absolute;
  left: 75px;
  top: 10px;
  height: 50px;
}

#mainTitle {
  line-height: 70px;
  font-weight: 400;
  font-size: 22px;
  position: absolute;
  left: 125px !important; /* controls positioning of page title*/
}

/* 
.title h1::before {
  content: "";
  background-image: url("imgs/lei_logo_resize.png");
  background-size: 30px 39.2px;
  display: inline-block;
  width: 30px;
  height: 39.2px;
  line-height: 70px;
  vertical-align: middle;
} */

.wrapper {
  /*margin-top: 50px;*/
  padding: 15px 30px;
  transition: all 0.3s ease-out;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

#main_content {
  text-align: center;
  align-content: center;
  align-items: center;
}

#main_content h2 {
  margin: 5px 0;
}

.main_content_title {
  text-align: center;
}

.inline_page_link {
  color: blue;
  font-weight: 700;
}

#qr-input-label {
  color: white;
  font-size: 16px;
  background-color: #62a845;
  border-radius: 15px;
  padding: 15px;
  display: inline-block;
}

/* #player {
  border: thick solid #62a845;
}

#canvas {
  display: none;
}

#capture {
  color: white;
  font-size: 16px;
  padding: 15px;
  background-color: #62a845;
  border: thin solid black;
  border-radius: 15px;
  width: 175px;
  margin: 15px;
} */

/* #qr-reader {
  margin: auto;
  width: 300px;
  border: medium solid black;
} */

/* Small devices (tablets)
==========================*/
@media (min-width: 768px) {
}

/* Medium devices (desktops)
==========================*/
@media (min-width: 992px) {
  body {
    overflow-y: scroll;
  }

  .logo img {
    width: 200px;
    text-align: center;
    margin-top: 10px;
    float: none;
  }

  .wrapper {
    margin-left: 200px;
  }

  .wrapper__minify {
    margin-left: 50px;
  }
}
