html {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  padding: 80px 0;
}

nav a {
  text-decoration: none;
  display: inline-block;
}

.nav--icon {
  display: inline-block;
  height: 30px;
  width: 60px;
  padding: 10px;
  font-size: 30px;
  color: #62a845;
  margin: 5px 10px;
}

.nav--icon--current {
  background-color: #ccc;
  border-radius: 5px;
}

header,
footer {
  width: 100%;
  position: fixed;
  background: #eee;

  text-align: center;
  align-content: center;
  align-items: center;
  height: 60px;
}

header {
  box-shadow: #ccc 3px 0px 3px 3px;
  top: 0;
  color: #000;
}

footer {
  box-shadow: #ccc -3px 0 3px 3px;
  bottom: 0;
  padding: 0;
  margin: 0;
}

#mainLogo {
  height: 40px;
  padding: 10px 0;
  display: inline-block;
}

#helpBtn {
  height: 40px;
  padding: 10px 0;
  line-height: 40px;
}

/* 
  BODY STYLES
*/
.wrapper {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.wrapper > * {
  margin: 0 auto;
}

#qr-canvas {
  margin: 0;
  border: thin solid #333;
  border-radius: 5px;
  width: 95%;
  display: none;
}

#btn-scan-qr {
  display: block;
  cursor: pointer;
  display: inline-block;
  width: 10em;
  height: 10em;
  margin: 10em 0 0 0;
}

#btn-scan-qr img {
  width: inherit;
  height: inherit;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0 0 20px 0;
  padding: 0;
  width: 95%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 0.35em;
}

table th,
table td {
  padding: 0.625em;
  text-align: center;
  min-height: 1em;
  height: max-content;
}

table th {
  font-size: 1em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 1em;
    text-align: right;
  }

  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}

.update_info_form_wrapper .send-button {
  background: #54c7c3;
  width: 100%;
  font-weight: 600;
  color: #fff;
  padding: 8px 25px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.update_info_form_wrapper .g-button {
  color: #fff !important;
  border: 1px solid #ea4335;
  background: #ea4335 !important;
  width: 100%;
  font-weight: 600;
  color: #fff;
  padding: 8px 25px;
}

.update_info_form_wrapper .my-input {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  cursor: text;
  padding: 8px 10px;
  margin: 5px 0;
  transition: border 0.1s linear;
}

.header-title {
  margin: 5rem 0;
}

.update_info_form_wrapper {
  margin: 0;
}

.update_info_form_wrapper h1 {
  font-size: 31px;
  line-height: 40px;
  font-weight: 600;
  color: #4c5357;
}

.update_info_form_wrapper h2 {
  color: #5e8396;
  font-size: 21px;
  line-height: 32px;
  font-weight: 400;
}

#remove_confirmation_wrapper,
#recover_confirmation_wrapper {
  background: white;
  height: 10em;
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

#remove_confirmation_title,
#recover_confirmation_title {
  font-size: 22px;
  font-weight: 600;
}

#remove_confirmation_cancel,
#remove_confirmation_remove,
#recover_confirmation_cancel,
#recover_confirmation_recover {
  margin-top: 1em;
  float: left;
  width: 50%;
  height: 4em;
  line-height: 4em;
  font-size: 20px;
}

#remove_confirmation_cancel {
  background-color: #ccc;
  color: #333;
}
#remove_confirmation_remove,
#recover_confirmation_cancel {
  background-color: firebrick;
  color: #eee;
}

#recover_confirmation_recover {
  background-color: #4bb543;
  color: black;
}

#update_info_form_btn {
  font-size: 16px;
  padding: 5px 10px;
  margin-top: 10px;
}

.err_msg,
.success_msg {
  max-width: 80%;
  text-align: center;
  font-size: 18px;
  font-weight: 800;
  word-wrap: break-word;
  height: auto;
  margin: 10px auto 0 auto;
  padding: 15px;
}

.err_msg {
  color: firebrick;
  font-size: 16px;
}

.success_msg {
  color: black;
  font-size: 18px;
}

.another_btn {
  padding: 0.75em;
  font-size: 20px;
  font-weight: 500;
  margin-top: 2em;
}

.another_btn_link {
  margin-top: 2em;
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 26px;
  }
  h2 {
    font-size: 20px;
  }
}

/* Small devices (tablets)
==========================*/
@media (min-width: 768px) {
}

/* Medium devices (desktops)
==========================*/
@media (min-width: 992px) {
  body {
    overflow-y: scroll;
  }
}
